.main-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Montserrat;
    background-color: #373E4C;
    font-size: 25px;
    font-weight: 500;
    border-radius: 20px;
}

.main-header a
{
    padding: 20px 40px;
    background-color: white;
    margin: 0 3px;
}

.main-header a:hover{
    background-color: rgb(255, 30, 49);
}



/* .menu{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    list-style: none;
    text-decoration: none;

}

Link {
    color : White;
}

.menu li {
    padding : 20px 10px;
    background-color: rgb(27, 27, 27);
    font-family: montserrat;
    font-size: 25px;
    text-decoration:none;
    margin: 10px 10px;
}

.menu li:hover{
    background-color: rgb(255, 30, 49);
    
} */